@import 'reset'
@import 'media.sass'
@import 'reset'
@import 'variables.sass'
@import 'app/css/font'

.section-block
	background-color: #ffffff
	border-radius: 10px
	padding: 50px 30px

.zero-border
	border-radius: 0px!important

body
	font-family: arial, sans-serif
	background-image: url("../img/back.png")
	background-repeat: no-repeat
	background-size: cover
	header
		+wrapper
		padding: 50px 0
		.logo
			text-align: center
			h1
				font-size: 24px
				color: #939393
				text-transform: uppercase
				margin-top: 50px
	main 
		padding: 0 15px
		.search
			@extend .section-block
			+wrapper

			.search-field
				position: relative
				display: flex
				justify-content: space-between
				&:last-child
					margin-top: 20px
				i 
					position: absolute
					left: 10px
					top: 8px
					font-size: 23px
					color: #acacac
				input 
					border-radius: 5px
					border: 2px solid #acacac
					height: 40px
					padding: 5px 5px 5px 40px
					flex-grow: 3
					margin-right: 30px
					
					box-sizing: border-box
					&:focus
						outline: none
	
				a.search-btn
					font-size: 18px
					color: #ffffff
					text-transform: uppercase
					background-color: #8cbf55
					display: flex
					justify-content: center
					align-items: center
					padding: 0 20px
					border-radius: 5px
					font-family: 'Arial Narrow', arial, sans-serif

		.adaptive-list
			margin: 50px 0
			.list-wrapper, .list-wrapper-desc
				@extend .section-block
				padding: 15px 50px
				+wrapper
				ul 
					display: flex
					li 
						margin-right: 25px
						&:last-child
							margin-right: 0
						button 
							color: #656565
							display: inline-block
							font-size: 18px
							font-family: 'Arial Narrow', arial, sans-serif
							line-height: 18px
							text-transform: uppercase
							padding: 15px 25px
							background-color: #f1f1f1
							border-radius: 5px
							border: none
							&:hover
								background-color: #8cbf55
								color: #ffffff
							&:focus
								outline: none
						button.b-btn, button.b-btn-desc
							position: relative
							.humb
								position: absolute
								left: 12px
								top: 16px
								font-size: 18px
							.arrow
								display: none
								font-size: 20px
								position: absolute
								left: 12px
								top: 15px
							
		.articles
			@extend .section-block
			padding-bottom: 0
			+wrapper
			margin-bottom: 50px
			.article-wrapper
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				p 
					color: #939393
					margin-bottom: 20px
				h2
					color: #8cbf55
					font-size: 24px
					margin-bottom: 20px
					flex-basis: 100%
				ol
					list-style-type: decimal
					
					li 
						margin-left: 22px

				.left-column
					position: relative
					&::after
						position: absolute
						bottom: 0
						right: -17px
						content: ''
						width: 2px 
						height: 100%
						background-color: #8cbf55

				.left-column, .right-column
					flex-basis: 48%
					padding-bottom: 50px
						