@media screen and (max-width: 480px)
	.search-field
		flex-direction: column
		align-items: center

	.search-field > input
		margin-right: 0!important
		width: 100%
	.search-field > a 
		padding: 6px 20px!important
		margin-top: 10px

@media screen and (min-width: 801px)
	.arrow
		display: none!important
	.humb
		display: none!important
	.b-btn
		border-radius: 5px!important
	.drop
		display: block!important

@media screen and (min-width: 801px)
	.list-wrapper
		display: none

@media screen and (max-width: 800px)
	.list-wrapper-desc
		display: none
	// list - mobile
	.list-wrapper > ul 
		flex-direction: column!important
		border: 1px solid #c4c4c4!important	
		width: 165px
		margin: 0 auto
		border-radius: 5px

	.list-wrapper > ul > li
		margin: 0!important

	.list-wrapper > ul > li:first-child>button
		border-radius: 5px 5px 0 0!important

	.list-wrapper > ul > li:last-child > button
		border-radius: 0 0 5px 5px!important

	.list-wrapper > ul > li > button
		width: 100%
		box-sizing: border-box
		padding: 15px 10px 15px 40px!important
		font-size: 14px!important

	#list > ul > li >button.drop 
		display: none
	
	#list > ul > li > button.b-btn > .arrow
		display: none
	
	#list > ul > li > button.b-btn > .humb
		display: block

	.articles
		padding: 45px 10px!important
	
	.articles > .article-wrapper > h2 
		font-size: 16px!important

	.left-column::after 
		display: none

	.left-column, .right-column
		flex-basis: 100%!important

	.article-wrapper p 
		font-size: 12px!important

	.left-column, .right-column
		padding-bottom: 0!important