@media screen and (max-width: 480px) {
  .search-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .search-field > input {
    margin-right: 0 !important;
    width: 100%; }
  .search-field > a {
    padding: 6px 20px !important;
    margin-top: 10px; } }

@media screen and (min-width: 801px) {
  .arrow {
    display: none !important; }
  .humb {
    display: none !important; }
  .b-btn {
    -webkit-border-radius: 5px !important;
            border-radius: 5px !important; }
  .drop {
    display: block !important; } }

@media screen and (min-width: 801px) {
  .list-wrapper {
    display: none; } }

@media screen and (max-width: 800px) {
  .list-wrapper-desc {
    display: none; }
  .list-wrapper > ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    border: 1px solid #c4c4c4 !important;
    width: 165px;
    margin: 0 auto;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .list-wrapper > ul > li {
    margin: 0 !important; }
  .list-wrapper > ul > li:first-child > button {
    -webkit-border-radius: 5px 5px 0 0 !important;
            border-radius: 5px 5px 0 0 !important; }
  .list-wrapper > ul > li:last-child > button {
    -webkit-border-radius: 0 0 5px 5px !important;
            border-radius: 0 0 5px 5px !important; }
  .list-wrapper > ul > li > button {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 10px 15px 40px !important;
    font-size: 14px !important; }
  #list > ul > li > button.drop {
    display: none; }
  #list > ul > li > button.b-btn > .arrow {
    display: none; }
  #list > ul > li > button.b-btn > .humb {
    display: block; }
  .articles {
    padding: 45px 10px !important; }
  .articles > .article-wrapper > h2 {
    font-size: 16px !important; }
  .left-column::after {
    display: none; }
  .left-column, .right-column {
    -webkit-flex-basis: 100% !important;
        -ms-flex-preferred-size: 100% !important;
            flex-basis: 100% !important; }
  .article-wrapper p {
    font-size: 12px !important; }
  .left-column, .right-column {
    padding-bottom: 0 !important; } }
